/* Estilo general */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo del contenedor principal */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo de los círculos */
.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Para hacerlos circulares */
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Sombra opcional */
}